/* Fonts from Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Patua+One&display=swap");
/* GLOBAL RULES */
:root {
	--purple-dark: #6a1974;
	--purple: #8315ae;
	--purple-light: #a629d8;
	--yellow-dark: #ea9253;
	--yellow: #f1b430;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   flex-direction: column;
   font-family: "Balsamiq Sans", cursive;
   min-height: 100vh;
   background-image: linear-gradient(
      to bottom,
      var(--purple-dark),
      var(--purple)
	);
}
.container {
   margin-inline: auto;
   width: 90%;
   max-width: 1000px;
}
img {
   max-width: 100%;
   -webkit-user-drag: none;
}
a {
   text-decoration: none;
}
/* NAVIGATION BAR */
nav .container {
   padding-block: 0.7em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
nav .logo {
   width: 4em;
}
nav .menu-icon .fa-bars-staggered {
   width: 2em;
	font-size: 2em;
   cursor: pointer;
   color: white;
   fill: white;
}
nav ul {
   display: none;
   list-style-type: none;
}
nav .menu-icon:hover ~ ul {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   position: fixed;
   inset-block: 0;
   inset-inline-end: 0;
   min-width: 60vw;
   background-color: #19041c;
   z-index: 2;
}
nav ul li a {
   color: #fff;
   opacity: 0.8;
}
nav ul li a:hover {
   opacity: 1;
}
nav ul li a.active {
   opacity: 1;
   color: var(--yellow);
}
@media (min-width: 40em) {
   nav .menu-icon {
      display: none;
	}
   nav ul {
      display: flex;
      flex-direction: row;
      gap: 2em;
	}
}
/* MAIN PAGE */
main {
   flex-grow: 1;
   display: grid;
   position: relative;
}
main .container {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 1em;
}
main .content {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.7em;
}
main .social {
   list-style-type: none;
   display: flex;
   gap: 0.7em;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
main .social .icon {
   height: 1.5em;
   color: white;
   fill: #fff;
   opacity: 0.9;
   transition: 0.3s;
   cursor: pointer;
}
main .social li a:hover .icon {
   fill: var(--yellow);
	color: var(--yellow);
   opacity: 1;
   transform: scale(1.2) rotate(10deg);
}
main .content h1 {
   font-family: "Patua One", cursive;
   text-shadow: 4px 4px #47044f;
   color: var(--yellow);
   font-size: 3em;
}
main .content p {
   color: white;
   opacity: 0.8;
}
main .content a {
   background-color: var(--yellow);
   color: var(--purple-dark);
   padding: 0.5em 2em;
   border-radius: 20px;
   font-weight: 700;
}
@media (min-width: 40em) {
   body {
      background-image: linear-gradient(
      to right,
      var(--purple-dark),
      var(--purple)
	);
   }
   main .container {
      text-align: start;
      flex-direction: row;
	}
   main .content {
      align-items: flex-start;
	}
   main .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50vw;
	}
   main .social {
      position: absolute;
      inset-inline: 0;
      bottom: 3em;
	}
}
